# URL base da API HTTP do backend.
# Exemplo local:
VITE_API_URL=http://localhost:3000

# URL do Socket.IO.
# Normalmente igual ao VITE_API_URL.
VITE_WS_URL=http://localhost:3000

# Exemplo para jogar via rede/Radmin (descomente e ajuste):
# VITE_API_URL=http://26.193.222.75:3000
# VITE_WS_URL=http://26.193.222.75:3000
